body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}
.product img {
    max-width: 100%;
    border-radius: 8px;
}
.product h2 {
    font-size: 1.5em;
    margin: 10px 0;
}
.product p {
    color: #555;
}
.product .price {
    font-size: 1.2em;
    color: #d9534f;
    margin: 10px 0;
}

#fotoProducto{
    width: 100px;
    height: auto;
}
a{
    text-decoration: none;
    color: black;
}